01_make_human_virus_reference.sh
02_nfcore_params.txt
02_nfcore_params.txt.old
02_prepare_nfcore_and_qc.sh
03_submit_slurm.sh
dual_virus_samplesheet.csv
fetch_genome.sh
results_host_multiVirus/

*.vcf
*.fastq.gz
data/
work/
tiny*
submit_pipeline.sh
*shutoff
logs/
combine_results
apptainer_cache
results/
results_kshv_host/
samplesheet.csv
OLD/
*.nextflow*
