// nextflow.config
process {
    executor = 'slurm'
    // Adjust these based on your cluster's partition names
    queue    = 'xeon' 
}

apptainer {
    enabled    = true
    autoMounts = true
    // This prevents re-downloading containers every time
    cacheDir   = "${projectDir}/apptainer_cache"
}

// Limits to prevent hitting cluster wall-clocks
params {
    max_memory = 60.GB
    max_cpus   = 16
    max_time   = 72.h
}

// Add this to your nextflow.config
// To delegate heavy lifting to more nodes
process {
    withName: 'TRIMGALORE' {
        cpus   = 4        // Reduce cores to 4 to save memory overhead
        memory = '16 GB'  // Increase RAM to 16GB
        time   = '12h'
    }    
    withName: 'STAR_GENOMEGENERATE' {
        memory = '45 GB'
        cpus = 12
	time = '18h'
    }
    withName: 'STAR_ALIGN' {
        memory = '45 GB'
        cpus = 12
	time = '24h'
    }
}

